body {
  margin: 0;
  font-family: 'Lexend';
}
@font-face {
  font-family: 'Lexend';
  src: url(./assets/fonts/lexend_latin.woff2) format("woff2");
}

@font-face {
  font-family: 'Lexend';
  src: url(./assets/fonts/lexend_latin_ext.woff2) format("woff2");
}

@font-face {
  font-family: 'Lexend';
  src: url(./assets/fonts/lexend_vietnamese.woff2) format("woff2");
}
*{
  padding: 0;
}

